* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

button {
  border: none;
}

:root {
  --colordef: rgb(244, 82, 82);
}

.container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgb(244, 82, 82);
  font-size: 34px;
  text-decoration: none;
  line-height: 1.34;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.menu {
  display: none;
  height: 40px;
  width: 60%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.06em;
  background-color: var(--colordef);
}

.burger-container {
  width: 40px;
  height: 34px;
  background-color: var(--colordef);
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  width: 28px;
  height: 22px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--colordef);
}

.burger__line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.burger::after,
.burger::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--colordef);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.06em;
  flex-grow: 2;
}

.aside {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 15vh;
  background-color: var(--colordef);
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.06em;
  flex-grow: 1;
}

.mix {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.columns {
  padding-top: 60px;
  padding-bottom: 60px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.column__item {
  display: flex;
  justify-content: center;
  padding: 18px 24px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--colordef);
  flex-basis: calc((100% - 20px) / 2);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 30px;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--colordef);
  height: 20vh;
}

@media (min-width: 575px) {
  .burger-container {
    display: none;
  }

  .menu {
    display: flex;
  }

  .aside {
    display: flex;
  }

  .column__item {
    padding: 22px 28px;
  }
}

@media (min-width: 768px) {
  .column__item {
    padding: 26px 32px;
    flex-basis: calc((100% - 40px) / 3);
  }
}

@media (min-width: 968px) {
  .mix {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .main {
    flex-grow: 2;
  }

  .aside {
    flex-grow: 1;
    height: 40vh;
  }
}
